* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------direct tag----------------------*/

body{
    /* background-color: #222222; */
    font-family: sans-serif;
}

header{
    background-color: #3160E0;
    color: #ffffff;
    padding-bottom: 2px;
}

footer{
    padding-top:10px;
    min-height: 100px;
    background-color: #23272A;

}

/*------------colors-----------*/
/* .bg_white{ 
    background-color: #ffffff; 
 } */
.bg_grey{
    background-color: #D3D3D3;
}
.bg_blue{
    
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width:auto;
    height:auto;
    
}
.bg_gold{
    background-color: #daa520;
}
.bg_dark_pink{
    background-color: #FFC0CB;
}
.bg_pink{
    background-color: #EE82EE;
}
.bg_indigo{
    background-color: #1E90FF;
}
.bg_green{
    background-color: #228B22;
}
.bg_salmon{
    background-color: #F08080;
}
.bg_pinky{
    background-color: #FFB6C1;
}
.bg_dark_aqua{
    background-color: #20B2AA;
}


/*---------------dashed border---------------*/

.bg_gold,.bg_green,.bg_indigo,.bg_dark_pink,.bg_pink,.bg_pinky,.bg_salmon{
    border: dashed #000000;
}

.bg_dark_aqua{
    border: dashed #ffffff;
}


.boxed_header{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 35px;

}

.flex_container{
    display: flex;
    /* column-gap: 2%; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.flex_container_text{
    padding-top: 10em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    row-gap: 2em;
}



.logo{
    padding: 10px;
    width: 20%;
}

.link{
    padding: 10px;
    width: 60%;
}

.login{
    align-self: flex-end center;
    padding: 10px;
    width: 20%;
}

.boxed_section{
    max-width: 60%;
   
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.col_70{
    min-height: 400px;
    width: 70%;
}
.col_30{
    min-height: 400px;
    width: 30%;
}
.square{
    min-height: 900px;
    width:100%;
}



.col_40{
    min-height: 400px;
    width: 40%;
}
.col_60{
    height: 100%;
    
}
.footer_mini_section{
    min-height: 400px;
    width: 25%;
}

.flex_footer{
    background-color: #7FFFD4;
    padding-top: 15px;
    max-width: 900px;
    min-height: 60px;
    margin: 0 auto;
    padding: 21px 0px;
    justify-content: space-between;
}
.spacing_row{
    border-top: solid 2px #7FFFD4;
    padding-bottom: 20px;
}


.f_buttons{
    padding: 10px;
    min-width: 90px;
}

.button{
    border-radius: 1.5em;
    padding: 1em 3em;
    border:  1px;
    font-weight: 700;
}

.white_button{
    background-color: #FFFFFF;
    color: #000000;
}
.gray_button{
    background-color: #23272A;
    color: #ffffff;
}
.lilla_button{
    background-color: #8EA1E2;
    color: #ffffff;
}
.starred_box{
    background-image: url("../img/stars.svg");
    /* background-size:cover; */

}